pug/about.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 本所簡介','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 關於本所
                .page-sup-tab-area
                    a(href="about.html").tab.act 關於本所
                    a(href="develop.html").tab 發展沿革
                    a(href="director_info.html").tab 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .about-wrap
                        .about-video-cont
                            .about-video-box
                                .page-sup-tit 地球所簡介影片 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/N7YdaNGYbw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .about-video-box
                                .page-sup-tit 中研院簡介影片<span>1分鐘</span>版 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/4NUjzge_SiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            .about-video-box
                                .page-sup-tit 中研院簡介影片<span>3分鐘</span>版 
                                .video-box
                                    iframe(src="https://www.youtube.com/embed/1Hy4wTY2gFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        .about-txt-cont
                            p 中央研究院是政府在台灣最高學術研究單位，包括數理科學、生命科學、及人文科學。地球科學研究所成立於西元1982年，是中研院約三十多個研究所、研究所籌備處、及研究中心之一。 
                            p 1971年9月「行政院國家科學委員會地震專案小組」正式成立，利用向台灣大學海洋研究所借用的兩間研究室開展觀測和研究工作。1973年1月，位於台灣大學海洋研究所西側的地震研究大樓建成啟用。1973年4月「地震專案小組」改隸「中央研究院物理所地震組」。1976年7月1日成立「地球科學研究所籌備處」，由蔡義本先生擔任籌備處主任，初期研究內容涵蓋地震學、重力地磁學、大地測量學、古地磁學、以及同位素地球化學。六年以後，「地球科學研究所」於1982年8月1日正式成立。1993年10月地球所由台灣大學校區搬遷至今天的南港中研院院區。
                            p 地球科學研究所目前有27位研究人員、7位研究技師、5位駐所客座研究學者、30多位博士後研究學者、近100位約聘研究助理、以及10多位行政及電子室人員支援系統人員等。
                            p 台灣及鄰近地區乃是世上罕見的地殼劇烈活動及氣候變化帶，為地球科學研究提供了最佳的天然實驗場所，讓我們可以用最精密的地球物理及化學理論、觀測、實驗以及模擬來瞭解各種地球科學現象的本質。地球所研究領域長期以來著重在固體地球物理及化學，也兼顧海洋及氣候變遷。近期之研究内容大致包括觀測與理論地震學、地質與板塊構造學、地球與宇宙化學、活動大地構造學、地球動力學、高溫高壓晶體學、地表作用過程等。地球所的研究範圍亦逐步拓展到東南亞以及歐亞各國，研究的領域也延伸到地球核心，甚至地球以外的星際成因主題。
                            p 地球科學研究所的研究人員常規性與各大學之地球科學進行合作研究計畫。雖然沒有直接的教學任務，但研究人員們都積極參與各層級的教育，無論是研究生的訓練、大專生的實習，以至高中層級的教育推廣，同時也協助參與中研院在地球科學系統方面的國際研究生學程TIGP之博士生培育計畫。在研究計畫和專業人員交流上，地球所和中研院的環境變遷中心維持密切合作關係。



        include includes/footer
//- script.
//-     $(document).ready(function(){
        
//-     });

public/about.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>關於本所</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">關於本所 - 本所簡介</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">關於本所</h3>
        </div>
        <div class="page-sup-tab-area"><a class="tab act" href="about.html">關於本所</a><a class="tab" href="develop.html">發展沿革</a><a class="tab" href="director_info.html">主管簡介</a><a class="tab" href="contact.html">聯絡我們</a></div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="about-wrap">
            <div class="about-video-cont">
              <div class="about-video-box">
                <div class="page-sup-tit">地球所簡介影片 </div>
                <div class="video-box">
                  <iframe src="https://www.youtube.com/embed/N7YdaNGYbw4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </div>
              </div>
              <div class="about-video-box">
                <div class="page-sup-tit">中研院簡介影片<span>1分鐘</span>版 </div>
                <div class="video-box">
                  <iframe src="https://www.youtube.com/embed/4NUjzge_SiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </div>
              </div>
              <div class="about-video-box">
                <div class="page-sup-tit">中研院簡介影片<span>3分鐘</span>版 </div>
                <div class="video-box">
                  <iframe src="https://www.youtube.com/embed/1Hy4wTY2gFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                </div>
              </div>
            </div>
            <div class="about-txt-cont">
              <p>中央研究院是政府在台灣最高學術研究單位，包括數理科學、生命科學、及人文科學。地球科學研究所成立於西元1982年，是中研院約三十多個研究所、研究所籌備處、及研究中心之一。 </p>
              <p>1971年9月「行政院國家科學委員會地震專案小組」正式成立，利用向台灣大學海洋研究所借用的兩間研究室開展觀測和研究工作。1973年1月，位於台灣大學海洋研究所西側的地震研究大樓建成啟用。1973年4月「地震專案小組」改隸「中央研究院物理所地震組」。1976年7月1日成立「地球科學研究所籌備處」，由蔡義本先生擔任籌備處主任，初期研究內容涵蓋地震學、重力地磁學、大地測量學、古地磁學、以及同位素地球化學。六年以後，「地球科學研究所」於1982年8月1日正式成立。1993年10月地球所由台灣大學校區搬遷至今天的南港中研院院區。</p>
              <p>地球科學研究所目前有27位研究人員、7位研究技師、5位駐所客座研究學者、30多位博士後研究學者、近100位約聘研究助理、以及10多位行政及電子室人員支援系統人員等。</p>
              <p>台灣及鄰近地區乃是世上罕見的地殼劇烈活動及氣候變化帶，為地球科學研究提供了最佳的天然實驗場所，讓我們可以用最精密的地球物理及化學理論、觀測、實驗以及模擬來瞭解各種地球科學現象的本質。地球所研究領域長期以來著重在固體地球物理及化學，也兼顧海洋及氣候變遷。近期之研究内容大致包括觀測與理論地震學、地質與板塊構造學、地球與宇宙化學、活動大地構造學、地球動力學、高溫高壓晶體學、地表作用過程等。地球所的研究範圍亦逐步拓展到東南亞以及歐亞各國，研究的領域也延伸到地球核心，甚至地球以外的星際成因主題。</p>
              <p>地球科學研究所的研究人員常規性與各大學之地球科學進行合作研究計畫。雖然沒有直接的教學任務，但研究人員們都積極參與各層級的教育，無論是研究生的訓練、大專生的實習，以至高中層級的教育推廣，同時也協助參與中研院在地球科學系統方面的國際研究生學程TIGP之博士生培育計畫。在研究計畫和專業人員交流上，地球所和中研院的環境變遷中心維持密切合作關係。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
