public/develop.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>關於本所</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">關於本所 - 發展沿革</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">發展沿革</h3>
        </div>
        <div class="page-sup-tab-area"><a class="tab" href="about.html">關於本所</a><a class="tab act" href="develop.html">發展沿革</a><a class="tab" href="director_info.html">主管簡介</a><a class="tab" href="contact.html">聯絡我們</a></div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="develop-wrap">
            <div class="develop-line-area">
              <div class="develop-main-area">
                <div class="develop-page-tit">
                  <div class="page-sup-tit">鍾孫霖特聘研究員出任所長</div>
                  <p class="develop-p">林正洪、趙里研究員任副所長<br>2018年1月林正洪、詹瑜璋研究員任副所長。</p>
                </div>
                <div class="develop-main-box"> 
                  <div class="develop-main">2017</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2014</div>
                <div class="develop-info-box">
                  <div class="tit">李羅權特聘研究員出任所長</div>
                  <div class="info">汪中和、趙里研究員任副所長<br>2015年2月俞震甫、趙里研究員任副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2013</div>
                <div class="develop-info-box">
                  <div class="tit">李羅權特聘研究員出任代理所長</div>
                  <div class="info">汪中和、趙里研究員任副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2010</div>
                <div class="develop-info-box">
                  <div class="tit">趙丰特聘研究員出任所長</div>
                  <div class="info">陳中華研究員任副所長<br>2013年5月俞震甫副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2004</div>
                <div class="develop-info-box">
                  <div class="tit">江博明特聘研究員出任所長</div>
                  <div class="info">俞震甫、黃柏壽研究員，之後陳中華研究員<br>之後李建成、林正洪研究員任副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2002</div>
                <div class="develop-info-box">
                  <div class="tit">新院所建成</div>
                  <div class="info">完成後棟鋼骨結構建築，地下室設立機電設備，<br>一樓為停車場、二樓為實驗室</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2001</div>
                <div class="develop-info-box">
                  <div class="tit">納莉颱風風災</div>
                  <div class="info">納莉颱風造成本所地下室淹水，地下實驗室全毀</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">2000</div>
                <div class="develop-info-box">
                  <div class="tit">李太楓研究員出任所長</div>
                  <div class="info">余水倍、郭本垣研究員為副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1999</div>
                <div class="develop-info-box">
                  <div class="tit">921集集大地震</div>
                  <div class="info">921集集大地震，地球所加強地震物理及地殼形變研究。成立 “環境變遷研究計畫”<br>(Environmental Change Research Project; ECRP)，日後成為中研院的環境變遷中心</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1994</div>
                <div class="develop-info-box">
                  <div class="tit">葉義雄研究員出任所長</div>
                  <div class="info">汪中和研究員，之後藍晶瑩研究員任副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1993</div>
                <div class="develop-info-box">
                  <div class="tit">搬遷新建大樓</div>
                  <div class="info">搬遷至南港院區之地球所新建大樓。吳大銘博士出任代理所長(葉義雄研究員任副所長)</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1989</div>
                <div class="develop-info-box">
                  <div class="tit">增設高壓實驗室</div>
                  <div class="info">增設高壓實驗室</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1987</div>
                <div class="develop-info-box">
                  <div class="tit">葉永田博士出任所長</div>
                  <div class="info">李太楓研究員，之後汪中和研究員任副所長</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1985</div>
                <div class="develop-info-box">
                  <div class="tit">葉永田副所長代理所務</div>
                  <div class="info">蔡義本所長離職赴美</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1982</div>
                <div class="develop-info-box">
                  <div class="tit">地球科學研究所正式成立</div>
                  <div class="info">蔡義本博士擔任首任所長（葉永田研究員擔任副所長）。<br>設立學術諮詢委員會(每年開會一次)</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1980</div>
                <div class="develop-info-box">
                  <div class="tit">新增研究群</div>
                  <div class="info">增加同位素地球化學及地體構造物理學兩研究群</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1976</div>
                <div class="develop-info-box">
                  <div class="tit">成立地球科學研究所籌備處</div>
                  <div class="info">總統府核准成立地球科學研究所籌備處，<br>蔡義本博士擔任主任</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1973</div>
                <div class="develop-info-box">
                  <div class="tit">中央研究院物理所成立地震組</div>
                  <div class="info">任蔡義本博士為組長。台大海洋研究所旁邊興建完成二層樓建築物。<br>(當時的物理所所長為吳大猷先生，蔡義本先生應吳大猷先生之請，返台主持地震組的研究工作。)</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1972</div>
                <div class="develop-info-box">
                  <div class="tit">開始設置全臺灣地震網及強震網</div>
                  <div class="info">開始設置全臺灣地震網及強震網</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1971</div>
                <div class="develop-info-box">
                  <div class="tit">國科會地震專案小組成立</div>
                  <div class="info">游世高博士擔任組長。<br>(先在長科會改制後的國科會下成立「地震專案小組」，辦公室初期設在台北市寧波西街，後來向台灣大學海洋研究所借用研究室)。</div>
                </div>
              </div>
              <div class="develop-box" data-aos="fade-up" data-aos-duration="800">
                <div class="develop">1969</div>
                <div class="develop-info-box">
                  <div class="tit">鍾孫霖特聘研究員出任所長</div>
                  <div class="info">在當時國科會前身的國家長期科學發展委員會（長科會）主委吳大猷先生敦促下，鄧大量、吳大銘和蔡義本教授等旅美學者向國科會提出地震研究長程計畫</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
    <link rel="stylesheet" href="js/aos/aos-min.css"/>
    <script src="js/aos/aos.js"></script>
    <script>
      window.addEventListener('load', (event) => {
          AOS.init();
      })
    </script>
  </body>
</html>

pug/develop.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 發展沿革','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 發展沿革
                .page-sup-tab-area
                    a(href="about.html").tab 關於本所
                    a(href="develop.html").tab.act 發展沿革
                    a(href="director_info.html").tab 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .develop-wrap
                        .develop-line-area
                            .develop-main-area
                                .develop-page-tit
                                    .page-sup-tit 鍾孫霖特聘研究員出任所長
                                    p.develop-p 林正洪、趙里研究員任副所長<br>2018年1月林正洪、詹瑜璋研究員任副所長。
                                .develop-main-box 
                                    .develop-main 2017
                            -const develop01={'year':'2014','tit':'李羅權特聘研究員出任所長','info':'汪中和、趙里研究員任副所長<br>2015年2月俞震甫、趙里研究員任副所長'};
                            +developBox(develop01)
                            -const develop02={'year':'2013','tit':'李羅權特聘研究員出任代理所長','info':'汪中和、趙里研究員任副所長'};
                            +developBox(develop02)
                            -const develop03={'year':'2010','tit':'趙丰特聘研究員出任所長','info':'陳中華研究員任副所長<br>2013年5月俞震甫副所長'};
                            +developBox(develop03)
                            -const develop04={'year':'2004','tit':'江博明特聘研究員出任所長','info':'俞震甫、黃柏壽研究員，之後陳中華研究員<br>之後李建成、林正洪研究員任副所長'};
                            +developBox(develop04)
                            -const develop05={'year':'2002','tit':'新院所建成','info':'完成後棟鋼骨結構建築，地下室設立機電設備，<br>一樓為停車場、二樓為實驗室'};
                            +developBox(develop05)
                            -const develop06={'year':'2001','tit':'納莉颱風風災','info':'納莉颱風造成本所地下室淹水，地下實驗室全毀'};
                            +developBox(develop06)
                            -const develop07={'year':'2000','tit':'李太楓研究員出任所長','info':'余水倍、郭本垣研究員為副所長'};
                            +developBox(develop07)
                            -const develop08={'year':'1999','tit':'921集集大地震','info':'921集集大地震，地球所加強地震物理及地殼形變研究。成立 “環境變遷研究計畫”<br>(Environmental Change Research Project; ECRP)，日後成為中研院的環境變遷中心'};
                            +developBox(develop08)
                            -const develop09={'year':'1994','tit':'葉義雄研究員出任所長','info':'汪中和研究員，之後藍晶瑩研究員任副所長'};
                            +developBox(develop09)
                            -const develop10={'year':'1993','tit':'搬遷新建大樓','info':'搬遷至南港院區之地球所新建大樓。吳大銘博士出任代理所長(葉義雄研究員任副所長)'};
                            +developBox(develop10)
                            -const develop11={'year':'1989','tit':'增設高壓實驗室','info':'增設高壓實驗室'};
                            +developBox(develop11)
                            -const develop12={'year':'1987','tit':'葉永田博士出任所長','info':'李太楓研究員，之後汪中和研究員任副所長'};
                            +developBox(develop12)
                            -const develop13={'year':'1985','tit':'葉永田副所長代理所務','info':'蔡義本所長離職赴美'};
                            +developBox(develop13)
                            -const develop14={'year':'1982','tit':'地球科學研究所正式成立','info':'蔡義本博士擔任首任所長（葉永田研究員擔任副所長）。<br>設立學術諮詢委員會(每年開會一次)'};
                            +developBox(develop14)
                            -const develop15={'year':'1980','tit':'新增研究群','info':'增加同位素地球化學及地體構造物理學兩研究群'};
                            +developBox(develop15)
                            -const develop16={'year':'1976','tit':'成立地球科學研究所籌備處','info':'總統府核准成立地球科學研究所籌備處，<br>蔡義本博士擔任主任'};
                            +developBox(develop16)
                            -const develop17={'year':'1973','tit':'中央研究院物理所成立地震組','info':'任蔡義本博士為組長。台大海洋研究所旁邊興建完成二層樓建築物。<br>(當時的物理所所長為吳大猷先生，蔡義本先生應吳大猷先生之請，返台主持地震組的研究工作。)'};
                            +developBox(develop17)
                            -const develop18={'year':'1972','tit':'開始設置全臺灣地震網及強震網','info':'開始設置全臺灣地震網及強震網'};
                            +developBox(develop18)
                            -const develop19={'year':'1971','tit':'國科會地震專案小組成立','info':'游世高博士擔任組長。<br>(先在長科會改制後的國科會下成立「地震專案小組」，辦公室初期設在台北市寧波西街，後來向台灣大學海洋研究所借用研究室)。'};
                            +developBox(develop19)
                            -const develop20={'year':'1969','tit':'鍾孫霖特聘研究員出任所長','info':'在當時國科會前身的國家長期科學發展委員會（長科會）主委吳大猷先生敦促下，鄧大量、吳大銘和蔡義本教授等旅美學者向國科會提出地震研究長程計畫'};
                            +developBox(develop20)
        include includes/footer
        link(rel="stylesheet", href="js/aos/aos-min.css")
        script(src="js/aos/aos.js")
        script.
            window.addEventListener('load', (event) => {
                AOS.init();
            })
