public/director_info.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>關於本所</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">關於本所 - 主管簡介</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">主管簡介</h3>
        </div>
        <div class="page-sup-tab-area"><a class="tab" href="about.html">關於本所</a><a class="tab" href="develop.html">發展沿革</a><a class="tab act" href="director_info.html">主管簡介</a><a class="tab" href="contact.html">聯絡我們</a></div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="director-area">
            <div class="director-main-box">
              <div class="director-box">
                <div class="director-img"><img src="img/director01.jpg" alt=""/></div>
                <div class="director-info">
                  <div class="director-info-top">
                    <div class="director-name">
                      <div class="tit">鍾孫霖</div><span>所長</span>
                    </div>
                    <div class="director-txt">
                      <div class="tit">特聘研究員<span>（中央研究院院士）</span></div>
                      <div class="txt">專長 : 火成岩成因，地球化學動力學，亞洲岩漿活動與大地構造</div>
                    </div>
                  </div>
                  <div class="director-info-bot">
                    <div class="director-info-box">
                      <div class="tit">MAIL</div>
                      <div class="cont">sunlin@earth.sinica.edu.tw</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">TEL</div>
                      <div class="cont">886-2-27839910 ext. 1602 / 1103</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">FAX</div>
                      <div class="cont">886-2-27883493</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="director-sup-box">
              <div class="director-box">
                <div class="director-img"><img src="img/director02.jpg" alt=""/></div>
                <div class="director-info">
                  <div class="director-info-top">
                    <div class="director-name">
                      <div class="tit">林正洪</div><span>副所長</span>
                    </div>
                    <div class="director-txt">
                      <div class="tit">特聘研究員</div>
                      <div class="txt">專長 : 大地構造學 、地震學、重力學</div>
                    </div>
                  </div>
                  <div class="director-info-bot">
                    <div class="director-info-box">
                      <div class="tit">MAIL</div>
                      <div class="cont">lin@earth.sinica.edu.tw</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">TEL</div>
                      <div class="cont">886-2-2783-9910 ext. 1521 / 1105</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">FAX</div>
                      <div class="cont">886-2-2783-9871</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="director-box">
                <div class="director-img"><img src="img/director03.jpg" alt=""/></div>
                <div class="director-info">
                  <div class="director-info-top">
                    <div class="director-name">
                      <div class="tit">詹瑜璋</div><span>副所長</span>
                    </div>
                    <div class="director-txt">
                      <div class="tit">研究員</div>
                      <div class="txt">專長 : 構造地質學、構造地形學、遙測地質學</div>
                    </div>
                  </div>
                  <div class="director-info-bot">
                    <div class="director-info-box">
                      <div class="tit">MAIL</div>
                      <div class="cont">yuchang@earth.sinica.edu.tw</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">TEL</div>
                      <div class="cont">886-2-2783-9910 ext. 1411</div>
                    </div>
                    <div class="director-info-box">
                      <div class="tit">FAX</div>
                      <div class="cont">886-2-2783-9871</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="director-list">
              <div class="title">歷任所長</div>
              <div class="director-info-box">
                <div class="tit">2017/05 - 迄今</div>
                <div class="cont">鍾孫霖 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">2013/09 - 2017/04</div>
                <div class="cont">李羅權 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">2010/09 - 2013/08</div>
                <div class="cont">趙丰 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">2004/08 - 2010/08</div>
                <div class="cont">江博明 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">2000/08 - 2004/07</div>
                <div class="cont">李太楓 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1994/08 - 2000/07</div>
                <div class="cont">葉義雄 所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1993/08 - 1994/07</div>
                <div class="cont">吳大銘 代所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1987/08 - 1993/07</div>
                <div class="cont">葉永田 代所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1985/08 - 1987/07</div>
                <div class="cont">葉永田 副所長代理所務</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1982/08 - 1985/07</div>
                <div class="cont">蔡義本 首任所長</div>
              </div>
              <div class="director-info-box">
                <div class="tit">1976/07 - 1982/07</div>
                <div class="cont">蔡義本 籌備處主任</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>

pug/director_info.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 關於本所
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'關於本所 - 主管簡介','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 主管簡介
                .page-sup-tab-area
                    a(href="about.html").tab 關於本所
                    a(href="develop.html").tab 發展沿革
                    a(href="director_info.html").tab.act 主管簡介
                    a(href="contact.html").tab 聯絡我們
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .director-area
                        .director-main-box
                            -const director01={'img':'director01.jpg','name':'鍾孫霖','nameSup':'所長','tit':'特聘研究員<span>（中央研究院院士）</span>','txt':'專長 : 火成岩成因，地球化學動力學，亞洲岩漿活動與大地構造','mail':'sunlin@earth.sinica.edu.tw','tel':'886-2-27839910 ext. 1602 / 1103','fax':'886-2-27883493'};
                            +directorBox(director01)
                        .director-sup-box
                            -const director02={'img':'director02.jpg','name':'林正洪','nameSup':'副所長','tit':'特聘研究員','txt':'專長 : 大地構造學 、地震學、重力學','mail':'lin@earth.sinica.edu.tw','tel':'886-2-2783-9910 ext. 1521 / 1105','fax':'886-2-2783-9871'};
                            +directorBox(director02)
                            -const director03={'img':'director03.jpg','name':'詹瑜璋','nameSup':'副所長','tit':'研究員','txt':'專長 : 構造地質學、構造地形學、遙測地質學','mail':'yuchang@earth.sinica.edu.tw','tel':'886-2-2783-9910 ext. 1411','fax':'886-2-2783-9871'};
                            +directorBox(director03)
                        .director-list
                            .title 歷任所長
                            .director-info-box
                                .tit 2017/05 - 迄今
                                .cont 鍾孫霖 所長
                            .director-info-box
                                .tit 2013/09 - 2017/04
                                .cont 李羅權 所長
                            .director-info-box
                                .tit 2010/09 - 2013/08
                                .cont 趙丰 所長
                            .director-info-box
                                .tit 2004/08 - 2010/08
                                .cont 江博明 所長
                            .director-info-box
                                .tit 2000/08 - 2004/07
                                .cont 李太楓 所長
                            .director-info-box
                                .tit 1994/08 - 2000/07
                                .cont 葉義雄 所長
                            .director-info-box
                                .tit 1993/08 - 1994/07
                                .cont 吳大銘 代所長
                            .director-info-box
                                .tit 1987/08 - 1993/07
                                .cont 葉永田 代所長
                            .director-info-box
                                .tit 1985/08 - 1987/07
                                .cont 葉永田 副所長代理所務
                            .director-info-box
                                .tit 1982/08 - 1985/07
                                .cont 蔡義本 首任所長
                            .director-info-box
                                .tit 1976/07 - 1982/07
                                .cont 蔡義本 籌備處主任


                                    

                        //- .edit-area
                        //-     p.def 大年初四，新竹一小時之內發生連續六震，兩天狂搖十二次，震得大家有點心驚；年後，東部更是每兩、三天，就有一次地震發生。
                        //-     p.def 要研究地震的最新動向，都得靠地震觀測網的監測與收集資料。獨立特派員曾針對歷史上發生大規模地震的活動斷層監測做了系列報導，今天我們要繼續跟著中研院地球科學所的腳步，到台東池上鄉的池上斷層。
                        //-     img.def(src="img/news_cont_01.jpg", alt="")
                        //-     p.def 池上斷層是全世界位移速率很快的一條活動斷層，台灣地科界在這裡記錄到斷層潛移的觀測資料，累積相當豐富的科學數據。其中有位功不可沒的法籍地質學家安朔葉教授，他從1981年開始，每年到台灣進行研究，讓池上活動斷層成為國際地震研究重點之一，池上鄉的地牛故事館也特別收藏他當年來台灣進行田野調查的手稿，紀念他為台灣所做的一切。
        include includes/footer
