public/member_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-mem">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>本所成員</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-top-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="member_list.html">成員</a><span>/</span><span class="act">研究人員 - 黃信樺</span>
        </div>
        <div class="member-cont-wrap">
          <div class="member-cont-img-box">
            <div class="member-cont-img"><img src="img/memCont01.jpg" alt=""/></div>
            <div class="member-cont-img-txt-box">
              <div class="member-cont-img-txt" id="memberImgTxt">
                <div class="office">副研究員</div>
                <div class="name">黃信樺  /  Huang, Hsin-Hua</div>
              </div>
              <div class="back-box"><a class="back-btn" href="member_list.html"><i class="far fa-angle-left"></i>
                  <div class="dot"></div><span>返回列表</span></a></div>
            </div>
          </div>
          <div class="member-main-cont">
            <div class="member-main-info-cont">
              <div class="member-cont-img"><img src="img/memCont01.jpg" alt=""/></div>
              <div class="member-main-name-area">
                <div class="member-main-name-box">
                  <div class="office">副研究員</div>
                  <div class="name">黃信樺  /  Huang, Hsin-Hua</div>
                  <div class="cont">研究領域：地震學、地震地體構造學</div>
                </div>
                <div class="member-main-info">
                  <div class="item">
                    <div class="icon"><img src="img/icon_phone.svg" alt=""/></div>
                    <div class="txt">+886-2-2783-9910 ext. 1504</div>
                  </div>
                  <div class="item">
                    <div class="icon"><img src="img/icon_profile.svg" alt=""/></div>
                    <div class="txt"><a href="###">個人簡歷</a></div>
                  </div>
                  <div class="item">
                    <div class="icon"><img src="img/icon_mail.svg" alt=""/></div>
                    <div class="txt">hhhuang@earth.sinica.edu.tw</div>
                  </div>
                  <div class="item">
                    <div class="icon"><img src="img/icon_mem_web.svg" alt=""/></div>
                    <div class="txt"><a href="###">個人網站</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="member-main-box" id="memberMainCont">
              <div class="member-main-tit">
                <div class="tit">研究簡介</div>
              </div>
              <div class="member-main-txt">
                <div class="edit-area">
                  <p class="def">我的研究興趣主要在利用地震學的方式探討各種不同的地質地體構造問題；以及探測和瞭解由淺至深不同尺度的地球內部構造與成因。</p>
                  <p class="def">涵蓋的研究主題包括(但不局限於)區域構造運動學、非典型地震序列、造山運動過程、三維板塊形貌、火山岩漿庫系統與地球的內核構造演化等。</p>
                  <p class="def">主要的技術重心在利用多重資料聯合反演、全波形反演與地震干涉學等方法精進地震影像的解析能力。同時，我也在進行地震破裂方向性與噪訊環境監測的相關研究，幫助減低地震與山崩災害的發生。</p>
                  <p class="def">我的研究工作可以概括成下列幾個方向：</p>
                  <ul class="def">
                    <li>地震層析成像與多重資料聯合反演</li>
                    <li>地震預警與強地動災害評估</li>
                    <li>區域地震地體構造建立與探討</li>
                    <li>非典型地震序列與發震機制研究</li>
                    <li>全波形反演與模擬</li>
                    <li>體波地震干涉學</li>
                    <li>震源特性與破裂行為</li>
                    <li>噪訊環境監測</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-main-box">
              <div class="member-main-tit">
                <div class="tit">更多</div>
                <div class="icon" id="moreContBtn"><i class="far fa-plus"></i></div>
              </div>
              <div class="member-main-txt more-hide" id="moreCont">
                <div class="edit-area">
                  <div class="tit def">Seismic tomography and multi-dataset joint inversion</div><img class="def" src="img/txtimg01.jpg" alt=""/>
                  <p class="def">One of my main research focuses is on the tomographic joint inversion of multi-dataset to improving our knowledge of subsurface structures and related tectonics. The crustal P-wave and Pn wave data, for example, are usually analyzed separately for individual studies but they can be incorporated in a complementary sense. With the dataset from a newly deployed portable array in northern Vietnam, we employed both phases to obtain the first local seismic tomography for the Red River shear zone (RRSZ), and shows that the RRSZ could be a lithospheric structure at least cutting through the crust (Huang et al., 2013). Moreover, for Taiwan region we also developed an elaborating joint-inversion scheme for various datasets (P-, S-wave, S-P time data, and especially the borehole logging data for near-surface constraints) to derive Vp, Vs, and Vp/Vs models. These new set of models which have comparable resolution and internal consistency can facilitate the tectonic exploration, waveform simulation, etc. (Huang et al., 2014a). In order to expand the model resolution in depth, the teleseismic data is further measured and incorporated together to investigate the lithospheric structures and slab interaction in the upper mantle (Huang et al., 2014b).</p>
                  <div class="tit def">Earthquake early warning and hazard mitigation</div><img class="def" src="img/txtimg02.jpg" alt=""/>
                  <p class="def">Earthquakes are one of the most frequent natural hazards in Taiwan. To mitigate the level of their damage, the development of early warning system is of great importance on one hand (Wu et al., 2011); gaining better understanding of ground motion relations, such as medium attenuation, source characteristics (e.g. directivity), and site effects, is also critical on the other hand. With derived high resolution velocity models, we have analyzed the source properties of Nantou (Lee et al., 2015) and Ruisui earthquakes (Lee et al., 2014) and demonstrated the capability of capturing realistic ground motions to some extent, especially across mountains and within basins, which could give us better insights into complicated wave propagation and help the hazard mitigation ultimately. More recently, using near-field ground motion data from a dense seismic network (P-alert), we showed that earthquake rupture directivity information could be estimated at a near-real-time basis and possibly help for more accurate shaking alerts in EEW systems (Jan et al., 2018).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
<script>
  $(document).ready(function(){
      $('#moreContBtn').on('click',function(){
          var $hideCont=$('#moreCont');
          var isHide = $hideCont.hasClass('more-hide');
          if(isHide){
              $(this).find('i').removeClass('fa-plus');
              $(this).find('i').addClass('fa-minus');
              $hideCont.removeClass('more-hide');
          }else{
              $(this).find('i').removeClass('fa-minus');
              $(this).find('i').addClass('fa-plus');
              $hideCont.addClass('more-hide');
          }
      });
  });
  
  $(window).scroll(function () {
      var windowScrollNum = $(window).scrollTop();
      var memberContH=$('#memberMainCont').offset().top;
      //- var navH=$('.header-wrap').outerHeight();
      //- var navHMar = navH + 20;
      windowScrollNum > memberContH ? $('#memberImgTxt').fadeIn():$('#memberImgTxt').fadeOut();
  });
</script>

pug/member_cont.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-mem
            .main-wrap
                .page-cont
                    h2 本所成員
        .main-wrap.page-main-wrap.page-top-w
            .page-cont
                -const bread={'act':'研究人員 - 黃信樺','link':[{'name':'成員','link':'member_list.html'}]}
                +breadBox(bread)
                .member-cont-wrap
                    .member-cont-img-box
                        .member-cont-img
                            img(src="img/memCont01.jpg", alt="")
                        .member-cont-img-txt-box
                            .member-cont-img-txt#memberImgTxt
                                .office 副研究員
                                .name 黃信樺  /  Huang, Hsin-Hua
                            .back-box
                                a(href="member_list.html").back-btn
                                    <i class="far fa-angle-left"></i>
                                    .dot
                                    span 返回列表
                    .member-main-cont
                        .member-main-info-cont
                            .member-cont-img
                                img(src="img/memCont01.jpg", alt="")
                            .member-main-name-area
                                .member-main-name-box
                                    .office 副研究員
                                    .name 黃信樺  /  Huang, Hsin-Hua
                                    .cont 研究領域：地震學、地震地體構造學
                                .member-main-info
                                    .item
                                        .icon
                                            img(src="img/icon_phone.svg", alt="")
                                        .txt +886-2-2783-9910 ext. 1504
                                    .item
                                        .icon
                                            img(src="img/icon_profile.svg", alt="")
                                        .txt
                                            a(href="###") 個人簡歷
                                    .item
                                        .icon
                                            img(src="img/icon_mail.svg", alt="")
                                        .txt hhhuang@earth.sinica.edu.tw
                                    .item
                                        .icon
                                            img(src="img/icon_mem_web.svg", alt="")
                                        .txt
                                            a(href="###") 個人網站
                        .member-main-box#memberMainCont
                            .member-main-tit
                                .tit 研究簡介
                            .member-main-txt
                                .edit-area
                                    p.def 我的研究興趣主要在利用地震學的方式探討各種不同的地質地體構造問題；以及探測和瞭解由淺至深不同尺度的地球內部構造與成因。
                                    p.def 涵蓋的研究主題包括(但不局限於)區域構造運動學、非典型地震序列、造山運動過程、三維板塊形貌、火山岩漿庫系統與地球的內核構造演化等。
                                    p.def 主要的技術重心在利用多重資料聯合反演、全波形反演與地震干涉學等方法精進地震影像的解析能力。同時，我也在進行地震破裂方向性與噪訊環境監測的相關研究，幫助減低地震與山崩災害的發生。
                                    p.def 我的研究工作可以概括成下列幾個方向：
                                    ul.def
                                        li 地震層析成像與多重資料聯合反演
                                        li 地震預警與強地動災害評估
                                        li 區域地震地體構造建立與探討
                                        li 非典型地震序列與發震機制研究
                                        li 全波形反演與模擬
                                        li 體波地震干涉學
                                        li 震源特性與破裂行為
                                        li 噪訊環境監測
                        .member-main-box
                            .member-main-tit
                                .tit 更多
                                .icon#moreContBtn <i class="far fa-plus"></i>
                            .member-main-txt.more-hide#moreCont
                                .edit-area
                                    .tit.def Seismic tomography and multi-dataset joint inversion
                                    img.def(src="img/txtimg01.jpg", alt="")
                                    p.def One of my main research focuses is on the tomographic joint inversion of multi-dataset to improving our knowledge of subsurface structures and related tectonics. The crustal P-wave and Pn wave data, for example, are usually analyzed separately for individual studies but they can be incorporated in a complementary sense. With the dataset from a newly deployed portable array in northern Vietnam, we employed both phases to obtain the first local seismic tomography for the Red River shear zone (RRSZ), and shows that the RRSZ could be a lithospheric structure at least cutting through the crust (Huang et al., 2013). Moreover, for Taiwan region we also developed an elaborating joint-inversion scheme for various datasets (P-, S-wave, S-P time data, and especially the borehole logging data for near-surface constraints) to derive Vp, Vs, and Vp/Vs models. These new set of models which have comparable resolution and internal consistency can facilitate the tectonic exploration, waveform simulation, etc. (Huang et al., 2014a). In order to expand the model resolution in depth, the teleseismic data is further measured and incorporated together to investigate the lithospheric structures and slab interaction in the upper mantle (Huang et al., 2014b).
                                    .tit.def Earthquake early warning and hazard mitigation
                                    img.def(src="img/txtimg02.jpg", alt="")
                                    p.def Earthquakes are one of the most frequent natural hazards in Taiwan. To mitigate the level of their damage, the development of early warning system is of great importance on one hand (Wu et al., 2011); gaining better understanding of ground motion relations, such as medium attenuation, source characteristics (e.g. directivity), and site effects, is also critical on the other hand. With derived high resolution velocity models, we have analyzed the source properties of Nantou (Lee et al., 2015) and Ruisui earthquakes (Lee et al., 2014) and demonstrated the capability of capturing realistic ground motions to some extent, especially across mountains and within basins, which could give us better insights into complicated wave propagation and help the hazard mitigation ultimately. More recently, using near-field ground motion data from a dense seismic network (P-alert), we showed that earthquake rupture directivity information could be estimated at a near-real-time basis and possibly help for more accurate shaking alerts in EEW systems (Jan et al., 2018).





        include includes/footer
script.
    $(document).ready(function(){
        $('#moreContBtn').on('click',function(){
            var $hideCont=$('#moreCont');
            var isHide = $hideCont.hasClass('more-hide');
            if(isHide){
                $(this).find('i').removeClass('fa-plus');
                $(this).find('i').addClass('fa-minus');
                $hideCont.removeClass('more-hide');
            }else{
                $(this).find('i').removeClass('fa-minus');
                $(this).find('i').addClass('fa-plus');
                $hideCont.addClass('more-hide');
            }
        });
    });

    $(window).scroll(function () {
        var windowScrollNum = $(window).scrollTop();
        var memberContH=$('#memberMainCont').offset().top;
        //- var navH=$('.header-wrap').outerHeight();
        //- var navHMar = navH + 20;
        windowScrollNum > memberContH ? $('#memberImgTxt').fadeIn():$('#memberImgTxt').fadeOut();
    });
