pug/news_list.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-news
            .main-wrap
                .page-cont
                    h2 最新消息
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'最新消息 - 全部','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 全部消息
                //- .page-sup-tab-area.orange
                .page-sup-tab-area
                    a(href="news_list.html").tab.act 全部
                    a(href="###").tab 公告問題
                    a(href="###").tab 榮譽
                    a(href="###").tab 徵才
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-list
                        -const news01={'img':'page_news01.jpg','tag':'公告','date':'2022/02/24','tit':'由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究世界首例跨'};
                        +newsBox(news01)
                        -const news02={'img':'page_news02.jpg','tag':'榮譽','date':'2022/02/23','tit':'本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎'};
                        +newsBox(news02)
                        -const news03={'img':'hiring_default.png','tag':'徵才','date':'2022/02/22','tit':'極端條件實驗室徵求 博士後研究員、碩士級專任研究助理、博士班/碩士班研究生、大學部專題生等數名。'};
                        -const news04={'img':'news05.jpg','tag':'公告','date':'2022/03/14','tit':'地球科學研究所開放參觀日〈報名已截止〉'};
                        +newsBox(news03)
                        +newsBox(news04)
                        +newsBox(news01)
                        +newsBox(news02)
                        +newsBox(news04)
                        +newsBox(news03)
                        +newsBox(news01)
                        +newsBox(news02)
                    +pagination
                        
        include includes/footer

public/news_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-news">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>最新消息</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">最新消息 - 全部</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">全部消息</h3>
        </div>
        <div class="page-sup-tab-area"><a class="tab act" href="news_list.html">全部</a><a class="tab" href="###">公告問題</a><a class="tab" href="###">榮譽</a><a class="tab" href="###">徵才</a></div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="news-list"><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news01.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">公告</div>
                <div class="date">2022/02/24</div>
                <div class="tit">由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究世界首例跨</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news02.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">榮譽</div>
                <div class="date">2022/02/23</div>
                <div class="tit">本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/hiring_default.png" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">徵才</div>
                <div class="date">2022/02/22</div>
                <div class="tit">極端條件實驗室徵求 博士後研究員、碩士級專任研究助理、博士班/碩士班研究生、大學部專題生等數名。</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/news05.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">公告</div>
                <div class="date">2022/03/14</div>
                <div class="tit">地球科學研究所開放參觀日〈報名已截止〉</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news01.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">公告</div>
                <div class="date">2022/02/24</div>
                <div class="tit">由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究世界首例跨</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news02.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">榮譽</div>
                <div class="date">2022/02/23</div>
                <div class="tit">本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/news05.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">公告</div>
                <div class="date">2022/03/14</div>
                <div class="tit">地球科學研究所開放參觀日〈報名已截止〉</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/hiring_default.png" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">徵才</div>
                <div class="date">2022/02/22</div>
                <div class="tit">極端條件實驗室徵求 博士後研究員、碩士級專任研究助理、博士班/碩士班研究生、大學部專題生等數名。</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news01.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">公告</div>
                <div class="date">2022/02/24</div>
                <div class="tit">由本所與中央大學地震災害鏈風險評估及管理研究中心共同執行的花蓮地震災害研究世界首例跨</div>
              </div></a><a class="news-box" href="news_cont.html">
              <div class="news-img"><img src="img/page_news02.jpg" alt=""/></div>
              <div class="news-cont">
                <div class="news-tag">榮譽</div>
                <div class="date">2022/02/23</div>
                <div class="tit">本所柯菲瑪博士後研究榮獲科技部110年度博士後研究人員學術研究獎</div>
              </div></a>
          </div>
          <div class="pagination-box"><a class="page" href="###"><i class="far fa-angle-left"></i></a><a class="page act" href="###">1</a><a class="page" href="###">2</a><a class="page" href="###">3</a><a class="page" href="###">4</a><a class="page" href="###">5</a>
            <div class="page center">...</div><a class="page" href="###">12</a><a class="page" href="###"><i class="far fa-angle-right"></i></a>
          </div>
          <div class="pagination-select-box">
            <div class="txt">每頁</div>
            <div class="select">
              <select class="page-sel" id="pageNum" name="pageNum">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
            <div class="txt">筆</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
