pug/sitemap.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 網站導覽
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'網站導覽','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 網站導覽
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .sitemap-area
                        .sitemap-cont
                            -const sitemap1={'tit':'關於本所','links':[{'name':'簡介','url':'###'},{'name':'發展沿革','url':'###'},{'name':'主管簡介','url':'###'},{'name':'聯絡我們','url':'###'}]};
                            +sitemapBox(sitemap1)
                            -const sitemap2={'tit':'最新消息','links':[{'name':'全部','url':'###'},{'name':'徵才','url':'###'},{'name':'公告','url':'###'},{'name':'榮譽','url':'###'}]};
                            +sitemapBox(sitemap2)
                            -const sitemap3={'tit':'演講','links':[{'name':'全部','url':'###'},{'name':'地球所演講','url':'###'},{'name':'地化討論會','url':'###'},{'name':'地震討論會','url':'###'},{'name':'地物討論會','url':'###'}]};
                            +sitemapBox(sitemap3)
                            -const sitemap4={'tit':'研究','links':[{'name':'研究領域','url':'###'},{'name':'研究計畫','url':'###'},{'name':'學術出版','url':'###'},{'name':'TIGP學程','url':'###'},{'name':'實驗室','url':'###'},{'name':'觀測網 / 設備','url':'###'}]};
                            +sitemapBox(sitemap4)
                            -const sitemap5={'tit':'資訊服務','links':[{'name':'資料服務','url':'###'},{'name':'儀器服務','url':'###'},{'name':'即時系統','url':'###'}]};
                            +sitemapBox(sitemap5)
                            -const sitemap6={'tit':'圖書館','links':[{'isOut':true,'name':'地球所圖書館','url':'https://www.earth.sinica.edu.tw/webearth-library/'},{'name':'中研院圖書館','url':'https://aslib.sinica.edu.tw/'}]};
                            +sitemapBox(sitemap6)
                            -const sitemap7={'tit':'推廣教育','links':[{'name':'推廣教育','url':'###'},{'name':'專題報導','url':'###'},{'name':'大學生研習計畫','url':'###'},{'name':'地球部落','url':'###'}]}
                            +sitemapBox(sitemap7)
                            -const sitemap8={'tit':'所內專區','links':[{'isOut':true,'name':'電子信箱','url':'https://webmail.earth.sinica.edu.tw/cgi-bin/login?index=1'},{'name':'IES行事曆','url':'###'},{'name':'IES活動記錄','url':'###'},{'isOut':true,'name':'三十周年專刊','url':'https://www.earth.sinica.edu.tw/iessp/30th.pdf'},{'isOut':true,'name':'Logo(小)','url':'http://140.109.80.226/storage/2logo/group-1663727444ss0kW.png'},{'isOut':true,'name':'Logo(大)','url':'https://www.earth.sinica.edu.tw/iessp/IES-logo-original.jpg'},{'name':'相關連結','url':'###'}]}
                            +sitemapBox(sitemap8)
                        .sitemap-side
                            -const sitemap9={'tit':'成員','links':[{'name':'研究人員','url':'###'},{'name':'研究技術人員','url':'###'},{'name':'駐所、訪問學者','url':'###'},{'name':'博士後研究','url':'###'},{'name':'學術諮詢委員','url':'###'},{'name':'合聘、兼任及通信研究人員','url':'###'},{'name':'研究助理','url':'###'},{'name':'行政人員','url':'###'},{'name':'TIGP研究生','url':'###'},{'name':'退休研究人員','url':'###'},{'name':'地球所友','url':'###'}]}
                            +sitemapBox(sitemap9)

        include includes/footer
script(async src="https://cse.google.com/cse.js?cx=80dea65bed06e4925")

public/sitemap.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>網站導覽</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">網站導覽</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">網站導覽</h3>
        </div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="sitemap-area">
            <div class="sitemap-cont">
              <div class="sitemap-box">
                <div class="tit">關於本所</div>
                <ul class="list">
                  <li><a href="###">簡介</a>
                  </li>
                  <li><a href="###">發展沿革</a>
                  </li>
                  <li><a href="###">主管簡介</a>
                  </li>
                  <li><a href="###">聯絡我們</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">最新消息</div>
                <ul class="list">
                  <li><a href="###">全部</a>
                  </li>
                  <li><a href="###">徵才</a>
                  </li>
                  <li><a href="###">公告</a>
                  </li>
                  <li><a href="###">榮譽</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">演講</div>
                <ul class="list">
                  <li><a href="###">全部</a>
                  </li>
                  <li><a href="###">地球所演講</a>
                  </li>
                  <li><a href="###">地化討論會</a>
                  </li>
                  <li><a href="###">地震討論會</a>
                  </li>
                  <li><a href="###">地物討論會</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">研究</div>
                <ul class="list">
                  <li><a href="###">研究領域</a>
                  </li>
                  <li><a href="###">研究計畫</a>
                  </li>
                  <li><a href="###">學術出版</a>
                  </li>
                  <li><a href="###">TIGP學程</a>
                  </li>
                  <li><a href="###">實驗室</a>
                  </li>
                  <li><a href="###">觀測網 / 設備</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">資訊服務</div>
                <ul class="list">
                  <li><a href="###">資料服務</a>
                  </li>
                  <li><a href="###">儀器服務</a>
                  </li>
                  <li><a href="###">即時系統</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">圖書館</div>
                <ul class="list">
                  <li><a href="https://www.earth.sinica.edu.tw/webearth-library/" target="_blank">地球所圖書館</a>
                  </li>
                  <li><a href="https://aslib.sinica.edu.tw/">中研院圖書館</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">推廣教育</div>
                <ul class="list">
                  <li><a href="###">推廣教育</a>
                  </li>
                  <li><a href="###">專題報導</a>
                  </li>
                  <li><a href="###">大學生研習計畫</a>
                  </li>
                  <li><a href="###">地球部落</a>
                  </li>
                </ul>
              </div>
              <div class="sitemap-box">
                <div class="tit">所內專區</div>
                <ul class="list">
                  <li><a href="https://webmail.earth.sinica.edu.tw/cgi-bin/login?index=1" target="_blank">電子信箱</a>
                  </li>
                  <li><a href="###">IES行事曆</a>
                  </li>
                  <li><a href="###">IES活動記錄</a>
                  </li>
                  <li><a href="https://www.earth.sinica.edu.tw/iessp/30th.pdf" target="_blank">三十周年專刊</a>
                  </li>
                  <li><a href="http://140.109.80.226/storage/2logo/group-1663727444ss0kW.png" target="_blank">Logo(小)</a>
                  </li>
                  <li><a href="https://www.earth.sinica.edu.tw/iessp/IES-logo-original.jpg" target="_blank">Logo(大)</a>
                  </li>
                  <li><a href="###">相關連結</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sitemap-side">
              <div class="sitemap-box">
                <div class="tit">成員</div>
                <ul class="list">
                  <li><a href="###">研究人員</a>
                  </li>
                  <li><a href="###">研究技術人員</a>
                  </li>
                  <li><a href="###">駐所、訪問學者</a>
                  </li>
                  <li><a href="###">博士後研究</a>
                  </li>
                  <li><a href="###">學術諮詢委員</a>
                  </li>
                  <li><a href="###">合聘、兼任及通信研究人員</a>
                  </li>
                  <li><a href="###">研究助理</a>
                  </li>
                  <li><a href="###">行政人員</a>
                  </li>
                  <li><a href="###">TIGP研究生</a>
                  </li>
                  <li><a href="###">退休研究人員</a>
                  </li>
                  <li><a href="###">地球所友</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
<script async="async" src="https://cse.google.com/cse.js?cx=80dea65bed06e4925"></script>
