public/study_area.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>研究</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><span class="act">研究 - 研究領域</span>
        </div>
        <div class="page-tit-box">
          <h3 class="tit">研究領域</h3>
        </div>
        <div class="page-sup-tab-area"><a class="tab act" href="study_area.html">地球物理學與地球動力學</a><a class="tab" href="###">地震學</a><a class="tab" href="###">地球化學</a><a class="tab" href="###">地質學與活動構造學</a></div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="study-area">
            <div class="study-tit">地球物理學與地球動力學</div>
            <div class="study-txt">
              <p>
                 研究人員︰<a href="###">林正洪</a>、<a href="###">郭本垣</a>、<a href="###">戴夏飛</a>、<a href="###">戚務正</a>、<a href="###">郁文哲</a>、<a href="###">謝文斌</a>、<a href="###">譚諤</a>、<a href="###">黃信樺</a>、<a href="###">張耘瑗</a><br>
                研究技術人員︰<a href="###">梁文宗</a>、<a href="###">林慶仁</a>、<a href="###">林欽仁</a>
                地球物理學與地球動力學研究利用各式尖端的地球物理方法研究(一)固體地球內部複雜的構造及其分佈﹔(二)海底地震學﹔(三)板塊隱沒、行星地幔與岩石圈流動之機制及動力學過程﹔(四)地球深部礦物之物理與化學性質﹔(五)地球重力場與地磁場之演變及在自然災害與環境相關研究領域之應用等重要課題。
              </p>
              <p>近年來重要的研究成果包括更清楚地重建歐亞板塊與菲律賓海板塊的三維隱沒幾何形貌、研究琉球隱沒帶之地幔流非均向性與動力機制、發現大屯火山與美國黃石火山下的深部岩漿庫、解析內核邊界速度構造與可能的半球邊界位置、自主研發寬頻海底地震儀並將其產業化與國際化、深度剖析全球動力學與地幔大尺度熱化學結構以及岩石圈剪切帶之形成機制、首次成功量測地幔與地核之熱傳導性質並結合數值模擬驗證其在地球熱演化過程之影響、精準觀測全球大地震對於地球自由震盪簡正模式頻譜之影響、發現由變質岩侵蝕而來的磁黃鐵礦可幫助追溯沉積物之來源以了解台灣及其它造山帶的剝蝕歷史。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap page-black">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="study-result-area">
            <div class="page-tit-box">
              <h3 class="tit">研究成果</h3>
            </div>
          </div>
          <div class="study-result-list">
            <div class="earth-sw-box">
              <div class="earth-sw-img"><img src="img/result01.jpg" alt=""/></div>
              <div class="earth-sw-info">
                <div class="tit">Unveiling Tatun volcanic plumbing structure induced by post-collision...</div>
                <div class="cont">The Tatun Volcanic Group (TVG) is proximal to the metropolis of Taipei ...</div>
              </div>
              <div class="earth-sw-more">
                <div class="name-box">
                  <div class="icon"><img src="img/result_mem01.jpg" alt=""/></div>
                  <div class="name">黃信樺</div>
                </div><a class="more" href="study_cont.html"><span>瞭解更多</span>
                  <div class="icon"><img src="img/icon_more.svg" alt=""/></div></a>
              </div>
            </div>
            <div class="earth-sw-box">
              <div class="earth-sw-img"><img src="img/result02.jpg" alt=""/></div>
              <div class="earth-sw-info">
                <div class="tit">The dynamics of Pluto’s nitrogen ice glacier</div>
                <div class="cont">During its flyby of Pluto, in July 2015, the NASA's spacecraft New Horizon reveal...</div>
              </div>
              <div class="earth-sw-more">
                <div class="name-box">
                  <div class="icon"><img src="img/result_mem02.jpg" alt=""/></div>
                  <div class="name">戴夏飛</div>
                </div><a class="more" href="study_cont.html"><span>瞭解更多</span>
                  <div class="icon"><img src="img/icon_more.svg" alt=""/></div></a>
              </div>
            </div>
            <div class="earth-sw-box">
              <div class="earth-sw-img"><img src="img/result03.jpg" alt=""/></div>
              <div class="earth-sw-info">
                <div class="tit">Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...</div>
                <div class="cont">本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...</div>
              </div>
              <div class="earth-sw-more">
                <div class="name-box">
                  <div class="icon"><img src="img/result_mem03.jpg" alt=""/></div>
                  <div class="name">林正洪</div>
                </div><a class="more" href="study_cont.html"><span>瞭解更多</span>
                  <div class="icon"><img src="img/icon_more.svg" alt=""/></div></a>
              </div>
            </div>
            <div class="earth-sw-box">
              <div class="earth-sw-img"><img src="img/result02.jpg" alt=""/></div>
              <div class="earth-sw-info">
                <div class="tit">The dynamics of Pluto’s nitrogen ice glacier</div>
                <div class="cont">During its flyby of Pluto, in July 2015, the NASA's spacecraft New Horizon reveal...</div>
              </div>
              <div class="earth-sw-more">
                <div class="name-box">
                  <div class="icon"><img src="img/result_mem02.jpg" alt=""/></div>
                  <div class="name">戴夏飛</div>
                </div><a class="more" href="study_cont.html"><span>瞭解更多</span>
                  <div class="icon"><img src="img/icon_more.svg" alt=""/></div></a>
              </div>
            </div>
            <div class="earth-sw-box">
              <div class="earth-sw-img"><img src="img/result03.jpg" alt=""/></div>
              <div class="earth-sw-info">
                <div class="tit">Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...</div>
                <div class="cont">本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...</div>
              </div>
              <div class="earth-sw-more">
                <div class="name-box">
                  <div class="icon"><img src="img/result_mem03.jpg" alt=""/></div>
                  <div class="name">林正洪</div>
                </div><a class="more" href="study_cont.html"><span>瞭解更多</span>
                  <div class="icon"><img src="img/icon_more.svg" alt=""/></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>

pug/study_area.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'研究 - 研究領域','link':[]}
                +breadBox(bread)
                .page-tit-box
                    h3.tit 研究領域
                .page-sup-tab-area
                    a(href="study_area.html").tab.act 地球物理學與地球動力學
                    a(href="###").tab 地震學
                    a(href="###").tab 地球化學
                    a(href="###").tab 地質學與活動構造學
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .study-area
                        .study-tit 地球物理學與地球動力學
                        .study-txt
                            p 
                                | 研究人員︰<a href="###">林正洪</a>、<a href="###">郭本垣</a>、<a href="###">戴夏飛</a>、<a href="###">戚務正</a>、<a href="###">郁文哲</a>、<a href="###">謝文斌</a>、<a href="###">譚諤</a>、<a href="###">黃信樺</a>、<a href="###">張耘瑗</a><br>
                                | 研究技術人員︰<a href="###">梁文宗</a>、<a href="###">林慶仁</a>、<a href="###">林欽仁</a>
                                | 地球物理學與地球動力學研究利用各式尖端的地球物理方法研究(一)固體地球內部複雜的構造及其分佈﹔(二)海底地震學﹔(三)板塊隱沒、行星地幔與岩石圈流動之機制及動力學過程﹔(四)地球深部礦物之物理與化學性質﹔(五)地球重力場與地磁場之演變及在自然災害與環境相關研究領域之應用等重要課題。
                            p 近年來重要的研究成果包括更清楚地重建歐亞板塊與菲律賓海板塊的三維隱沒幾何形貌、研究琉球隱沒帶之地幔流非均向性與動力機制、發現大屯火山與美國黃石火山下的深部岩漿庫、解析內核邊界速度構造與可能的半球邊界位置、自主研發寬頻海底地震儀並將其產業化與國際化、深度剖析全球動力學與地幔大尺度熱化學結構以及岩石圈剪切帶之形成機制、首次成功量測地幔與地核之熱傳導性質並結合數值模擬驗證其在地球熱演化過程之影響、精準觀測全球大地震對於地球自由震盪簡正模式頻譜之影響、發現由變質岩侵蝕而來的磁黃鐵礦可幫助追溯沉積物之來源以了解台灣及其它造山帶的剝蝕歷史。
        .main-wrap.page-black
            .page-cont
                .page-sup-area
                    .study-result-area
                        .page-tit-box
                            h3.tit 研究成果
                    .study-result-list
                        -const earthSw01={'img':'result01.jpg','tit':'Unveiling Tatun volcanic plumbing structure induced by post-collision...','cont':'The Tatun Volcanic Group (TVG) is proximal to the metropolis of Taipei ...','memImg':'result_mem01.jpg','name':'黃信樺'};
                        +earthSwBox(earthSw01)
                        -const earthSw02={'img':'result02.jpg','tit':'The dynamics of Pluto’s nitrogen ice glacier','cont':'During its flyby of Pluto, in July 2015, the NASA\'s spacecraft New Horizon reveal...','memImg':'result_mem02.jpg','name':'戴夏飛'};
                        +earthSwBox(earthSw02)
                        -const earthSw03={'img':'result03.jpg','tit':'Active Volcanism Revealed from a Seismicity Conduit in the Long-rest...','cont':'本所林正洪特聘研究員研究團隊分析從西元2014年到2017年間，大屯火山觀測站（TVO）在...','memImg':'result_mem03.jpg','name':'林正洪'};
                        +earthSwBox(earthSw03)
                        +earthSwBox(earthSw02)
                        +earthSwBox(earthSw03)
        include includes/footer
