pug/study_cont.pug
include includes/mixin
<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .page-tit-wrap.page-about
            .main-wrap
                .page-cont
                    h2 研究
        .main-wrap.page-main-wrap.page-w
            .page-cont
                -const bread={'act':'Core-mantle boundary topography and the Earth’s deep mantle structure','link':[{'link':'study_area.html','name':'研究 - 研究領域'}]}
                +breadBox(bread)
                .page-tit-box.news-page-tit
                    h3.tit 研究領域
        .main-wrap.page-gray
            .page-cont
                .page-sup-area
                    .news-area
                        .news-banner
                            img(src="img/study_banner.jpg", alt="")
                        .news-txt-cont
                            .news-txt-tit-box
                                .news-tag 地球物理學與地球動力學
                                .date 2022/03/14
                                h4.tit Core-mantle boundary topography and the Earth’s deep mantle structure
                                .study-author
                                    .icon
                                        img(src="img/result_mem02.jpg" alt="")
                                    a(href="###" target="_blank").name 戴夏飛
                            .news-txt-box
                                .edit-area
                                    p.def Mantle convection and core-mantel boundary (CMB) topography. Plumes of hot material stretch the CMB upward (A), while descending slabs induce depressions (B). Piles of dense material create wide depressions with maximum depth that depends on the pile’s density, heavier piles triggering deeper depressions (C and D). © Deschamps et al. (2018).
                                    p.def The Earth’s mantle is animated by large movement of convection transporting material from its bottom to its surface, and vice-versa. This flow is impacting the boundary between the core and the mantle, or core-mantle boundary (CMB), located at a depth of 2890 km. In particular, it deforms this boundary, creating some topography: thermal plumes stretch the CMB upward, inducing hills, while slabs arriving from the surface bump into it, triggering depressions. It is reasonable to think that details of CMB topography are controlled by the mode of convection animating the mantle, which depends itself on the mantle structure and properties. To assess whether CMB topography can indeed bring constraints on the deep mantle structure, Dr. Frédéric Deschamps (IES research fellow) and colleagues have calculated CMB dynamic topography induced by mantle flow for different models of mantle convection (Deschamps et al., GJI, 2018). Results show that in purely thermal models, plume clusters induce positive topography. By contrast, in thermo-chemical models with density contrast (ΔρC) around 100 kg/m3 or more, reservoirs of dense material induce depressions about 2 km deep in the CMB. In addition, the long-wavelength (spherical harmonic degrees up to l = 4) dynamic topography and seismic shear velocity anomalies are anti-correlated for purely thermal models, while they correlate for models with ΔρC ≥ 100 kg/m3. This potentially provides a test to infer the nature, thermal or thermo-chemical, of low shear-wave velocity provinces (LLVSP) observed by global tomographic images.
                                    p.def Full Article:<br>Frédéric Deschamps, Yves Rogister, Paul J Tackley, (2018), Constraints on core-mantle boundary topography from models of thermal and thermo-chemical convection, Geophysical Journal International 212(1), 164-188 <br>
                                        a.news-def(href="###" target="_blank") https://doi.org/10.1093/gji/ggx402
                            .doc-area
                                .tit 附件檔案
                                ul.list
                                    -const docList=[{'icon':'pdf'},{'icon':'odt'},{'icon':'doc','note':'(*.doc, *.docx)'},{'icon':'xsl','note':'(*.xlsx , *.xls)'},{'icon':'csv'},{'icon':'zip'},{'icon':'ppt','note':'(*.ppt, *.pptx)'}];
                                    each n in docList
                                        li
                                            .icon(class=n.icon)
                                            if n.note
                                                a(href="###") 檔名檔名.#{n.icon} 
                                                .note #{n.note} 
                                            else
                                                a(href="###") 檔名檔名.#{n.icon}

                    .back-box
                        a(href="study_area.html").back-btn
                            <i class="far fa-angle-left"></i>
                            .dot
                            span 返回列表
        include includes/footer

public/study_cont.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no"/>
    <meta name="title" content="中央研究院 地球科學研究所"/>
    <meta name="description" content="中央研究地球科學研究所"/>
    <meta name="Copyright" content="© 2022"/>
    <meta property="og:title" content="中央研究院 地球科學研究所"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content="中央研究院 地球科學研究所"/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <title>中央研究院 地球科學研究所</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/additional-methods.min.js"></script>
    <script src="js/messages_zh_TW.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/common.js"></script>
    <link rel="stylesheet" href="css/all.min.css"/>
    <link rel="stylesheet" href="css/hamburgers.min.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/photoswipe.css"/>
    <link rel="stylesheet" href="css/sty.css"/>
  </head>
  <body>
    <div class="header-wrap">
      <div class="header-area">
        <div class="header-cont"><a class="logo" href="index.html">
            <h1>中央研究地球科學研究所</h1><img src="img/logo.svg" alt=""/></a>
          <div class="nav-area">
            <div class="nav-main">
              <div class="nav-top"><a href="###">
                  <div class="icon"><img src="img/icon_web.svg" alt=""/></div><span>網站導覽</span></a><a href="###"><span>中央研究院</span></a><a href="###"><i class="fas fa-search"></i></a></div>
              <div class="nav-bot">
                <nav id="navItem">
                  <h2 class="ht"><span>中央研究地球科學研究所 導航列</span></h2><a class="item" href="index.html"><span>首頁</span></a>
                  <div class="item more" id="navAboutBtn"><span>關於本所</span>
                    <div class="mb-nav"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
                    </div>
                  </div>
                  <div class="item more" id="navNewsBtn"><span>最新消息</span>
                    <div class="mb-nav"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
                    </div>
                  </div>
                  <div class="item more" id="navSpeechBtn"><span>演講</span>
                    <div class="mb-nav"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
                    </div>
                  </div>
                  <div class="item more" id="navMemberBtn"><span>成員</span>
                    <div class="mb-nav"><a href="member_list.html#m1" id="navMbMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMbMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMbMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMbMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMbMemBtn5">學術諮詢委員</a>
                    </div>
                  </div>
                  <div class="item more" id="navStudyBtn"><span>研究</span>
                    <div class="mb-nav"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
                    </div>
                  </div>
                  <div class="item more" id="navInfoBtn"><span>資訊服務</span>
                    <div class="mb-nav"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navMbInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navMbInfoBtn3">即時系統</a>
                    </div>
                  </div>
                  <div class="item more" id="navLibraryBtn"><span>圖書館</span>
                    <div class="mb-nav"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
                    </div>
                  </div>
                  <div class="item more" id="navPromoteBtn"><span>推廣教育</span>
                    <div class="mb-nav"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
                    </div>
                  </div>
                  <div class="item more" id="navInnerBtn"><span>所內專區</span>
                    <div class="mb-nav"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
                    </div>
                  </div>
                </nav>
                <div class="lang-box">
                  <div class="icon"><i class="fal fa-globe"></i></div><a class="act" href="###">中文</a><span>/</span><a href="###">EN</a>
                </div>
              </div>
            </div>
            <button class="hamburger hamburger--squeeze" type="button" id="hamBtn"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
          </div>
        </div>
        <div class="sup-nav-area" id="navAboutList">
          <div class="sup-nav-box sup-nav-box02"><a href="about.html">本所簡介</a><a href="develop.html">發展沿革</a><a href="director_info.html">主管簡介</a><a href="contact.html">聯絡我們</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navNewsList">
          <div class="sup-nav-box sup-nav-box03"><a href="news_list.html">全部</a><a href="###">公告</a><a href="###">榮譽</a><a href="###">徵才</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navSpeechList">
          <div class="sup-nav-box sup-nav-box04"><a href="speech_list.html">全部</a><a href="###">地球所演講</a><a href="###">地化討論會</a><a href="###">地震討論會</a><a href="###">地物討論會</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navMemberList">
          <div class="sup-nav-box sup-nav-box05"><a href="member_list.html#m1" id="navMemBtn1">研究人員</a><a href="member_list.html#m2" id="navMemBtn2">研究技術人員</a><a href="member_list.html#m3" id="navMemBtn3">駐所、訪問者學者</a><a href="member_list.html#m4" id="navMemBtn4">博士後研究</a><a href="member_list.html#m5" id="navMemBtn5">學術諮詢委員</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navStudyList">
          <div class="sup-nav-box sup-nav-box06"><a href="study_area.html">研究領域</a><a href="plan.html">研究計畫</a><a href="academic_list.html">學術出版</a><a href="tigp.html">TIGP學程</a><a href="laboratory.html">實驗室</a><a href="observation.html">觀測網/設備</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInfoList">
          <div class="sup-nav-box sup-nav-box07"><a href="info_server.html">資訊服務</a><a href="info_server.html#s2" id="navInfoBtn2">儀器服務</a><a href="info_server.html#s3" id="navInfoBtn3">即時系統</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navLibraryList">
          <div class="sup-nav-box sup-nav-box08"><a href="###">地球所圖書館</a><a href="###">中研院圖書館</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navPromoteList">
          <div class="sup-nav-box sup-nav-box09"><a href="earth_list.html">地球部落</a><a href="topic_list.html">專題報導</a><a href="study_plan.html">大學生研習計畫</a>
          </div>
        </div>
        <div class="sup-nav-area" id="navInnerList">
          <div class="sup-nav-box sup-nav-box10"><a href="web_link.html">相關連結</a><a href="###">電子信箱</a><a href="ies_calendar.html">IES行事曆</a><a href="###">IES活動紀錄</a><a href="###">三十週年專刊</a><a href="###">Logo(小)</a><a href="###">Logo(大)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-tit-wrap page-about">
      <div class="main-wrap">
        <div class="page-cont">
          <h2>研究</h2>
        </div>
      </div>
    </div>
    <div class="main-wrap page-main-wrap page-w">
      <div class="page-cont">
        <div class="bread-box"><a href="index.html">首頁</a><span>/</span><a href="study_area.html">研究 - 研究領域</a><span>/</span><span class="act">Core-mantle boundary topography and the Earth’s deep mantle structure</span>
        </div>
        <div class="page-tit-box news-page-tit">
          <h3 class="tit">研究領域</h3>
        </div>
      </div>
    </div>
    <div class="main-wrap page-gray">
      <div class="page-cont">
        <div class="page-sup-area">
          <div class="news-area">
            <div class="news-banner"><img src="img/study_banner.jpg" alt=""/></div>
            <div class="news-txt-cont">
              <div class="news-txt-tit-box">
                <div class="news-tag">地球物理學與地球動力學</div>
                <div class="date">2022/03/14</div>
                <h4 class="tit">Core-mantle boundary topography and the Earth’s deep mantle structure</h4>
                <div class="study-author">
                  <div class="icon"><img src="img/result_mem02.jpg" alt=""/></div><a class="name" href="###" target="_blank">戴夏飛</a>
                </div>
              </div>
              <div class="news-txt-box">
                <div class="edit-area">
                  <p class="def">Mantle convection and core-mantel boundary (CMB) topography. Plumes of hot material stretch the CMB upward (A), while descending slabs induce depressions (B). Piles of dense material create wide depressions with maximum depth that depends on the pile’s density, heavier piles triggering deeper depressions (C and D). © Deschamps et al. (2018).</p>
                  <p class="def">The Earth’s mantle is animated by large movement of convection transporting material from its bottom to its surface, and vice-versa. This flow is impacting the boundary between the core and the mantle, or core-mantle boundary (CMB), located at a depth of 2890 km. In particular, it deforms this boundary, creating some topography: thermal plumes stretch the CMB upward, inducing hills, while slabs arriving from the surface bump into it, triggering depressions. It is reasonable to think that details of CMB topography are controlled by the mode of convection animating the mantle, which depends itself on the mantle structure and properties. To assess whether CMB topography can indeed bring constraints on the deep mantle structure, Dr. Frédéric Deschamps (IES research fellow) and colleagues have calculated CMB dynamic topography induced by mantle flow for different models of mantle convection (Deschamps et al., GJI, 2018). Results show that in purely thermal models, plume clusters induce positive topography. By contrast, in thermo-chemical models with density contrast (ΔρC) around 100 kg/m3 or more, reservoirs of dense material induce depressions about 2 km deep in the CMB. In addition, the long-wavelength (spherical harmonic degrees up to l = 4) dynamic topography and seismic shear velocity anomalies are anti-correlated for purely thermal models, while they correlate for models with ΔρC ≥ 100 kg/m3. This potentially provides a test to infer the nature, thermal or thermo-chemical, of low shear-wave velocity provinces (LLVSP) observed by global tomographic images.</p>
                  <p class="def">Full Article:<br>Frédéric Deschamps, Yves Rogister, Paul J Tackley, (2018), Constraints on core-mantle boundary topography from models of thermal and thermo-chemical convection, Geophysical Journal International 212(1), 164-188 <br><a class="news-def" href="###" target="_blank">https://doi.org/10.1093/gji/ggx402</a></p>
                </div>
              </div>
              <div class="doc-area">
                <div class="tit">附件檔案</div>
                <ul class="list">
                  <li>
                    <div class="icon pdf"></div><a href="###">檔名檔名.pdf</a>
                  </li>
                  <li>
                    <div class="icon odt"></div><a href="###">檔名檔名.odt</a>
                  </li>
                  <li>
                    <div class="icon doc"></div><a href="###">檔名檔名.doc </a>
                    <div class="note">(*.doc, *.docx) </div>
                  </li>
                  <li>
                    <div class="icon xsl"></div><a href="###">檔名檔名.xsl </a>
                    <div class="note">(*.xlsx , *.xls) </div>
                  </li>
                  <li>
                    <div class="icon csv"></div><a href="###">檔名檔名.csv</a>
                  </li>
                  <li>
                    <div class="icon zip"></div><a href="###">檔名檔名.zip</a>
                  </li>
                  <li>
                    <div class="icon ppt"></div><a href="###">檔名檔名.ppt </a>
                    <div class="note">(*.ppt, *.pptx) </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="back-box"><a class="back-btn" href="study_area.html"><i class="far fa-angle-left"></i>
              <div class="dot"></div><span>返回列表</span></a></div>
        </div>
      </div>
    </div>
    <div class="main-wrap footer-wrap">
      <div class="gotop" id="goTop"><img src="img/gotop.svg" alt=""/></div>
      <footer>
        <div class="footer-link-area">
          <div class="footer-box">
            <div class="tit">關於本所</div>
            <ul class="list">
              <li><a href="about.html">本所簡介</a>
              </li>
              <li><a href="develop.html">發展沿革</a>
              </li>
              <li><a href="director_info.html">主管簡介</a>
              </li>
              <li><a href="contact.html">聯絡我們</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">成員</div>
            <ul class="list">
              <li><a href="member_list.html#1" id="footerMemBtn1">研究人員</a>
              </li>
              <li><a href="member_list.html#2" id="footerMemBtn2">研究技術人員</a>
              </li>
              <li><a href="member_list.html#3" id="footerMemBtn3">駐所、訪問學者</a>
              </li>
              <li><a href="member_list.html#4" id="footerMemBtn4">博士後研究</a>
              </li>
              <li><a href="member_list.html#5" id="footerMemBtn5">學術諮詢委員</a>
              </li>
              <li><a href="member_list.html#6" id="footerMemBtn6">合聘、兼任及通信研究人員</a>
              </li>
              <li><a href="member_list.html#7" id="footerMemBtn7">研究助理</a>
              </li>
              <li><a href="member_list.html#8" id="footerMemBtn8">行政人員</a>
              </li>
              <li><a href="member_list.html#9" id="footerMemBtn9">TIGP研究生</a>
              </li>
              <li><a href="member_list.html#10" id="footerMemBtn10">退休研究人員</a>
              </li>
              <li><a href="member_list.html#11" id="footerMemBtn11">地球所友</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">研究</div>
            <ul class="list">
              <li><a href="study_area.html">研究領域</a>
              </li>
              <li><a href="plan.html">研究計畫</a>
              </li>
              <li><a href="academic_list.html">學術出版</a>
              </li>
              <li><a href="tigp.html">TIGP學程</a>
              </li>
              <li><a href="laboratory.html">實驗室</a>
              </li>
              <li><a href="observation.html">觀測網 / 設備 </a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">資料服務</div>
            <ul class="list">
              <li><a href="info_server.html">資料服務</a>
              </li>
              <li><a href="info_server.html#s2" id="footerInfoBtn2">儀器服務</a>
              </li>
              <li><a href="info_server.html#s3" id="footerInfoBtn3">即時系統</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">圖書館</div>
            <ul class="list">
              <li><a href="###" target="_blank">地球所圖書館</a>
              </li>
              <li><a href="###" target="_blank">中研院圖書館</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">推廣教育</div>
            <ul class="list">
              <li><a href="earth_list.html">地球部落</a>
              </li>
              <li><a href="topic_list.html">專題報導</a>
              </li>
              <li><a href="study_plan.html">大學生研習計畫</a>
              </li>
            </ul>
          </div>
          <div class="footer-box">
            <div class="tit">所內專區</div>
            <ul class="list">
              <li><a href="web_link.html">相關連結</a>
              </li>
              <li><a href="###">電子信箱</a>
              </li>
              <li><a href="ies_calendar.html">IES行事曆</a>
              </li>
              <li><a href="###">IES活動記錄</a>
              </li>
              <li><a href="###">三十周年專刊</a>
              </li>
              <li><a href="###">Logo(小)</a>
              </li>
              <li><a href="###">Logo(大)</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-info-area">
          <div class="footer-info-box">
            <div class="tit">Contact</div>
            <ul class="list">
              <li>tin2868@earth.sinica.edu.tw</li>
              <li>Tel:+886-2-2783-9910ext.1303</li>
              <li>11529 台北市南港區研究院路二段128號</li>
            </ul>
            <div class="local-box">
              <div class="icon"><img src="img/icon_f_location.svg" alt=""/></div><a href="###">本院位置及交通資訊</a>
            </div><a class="logo" href="###"><img src="img/logo_cce.jpg" alt=""/></a>
          </div>
          <div class="footer-info-logo">
            <div class="txt"><a href="personal_info.html">保有個人資料檔案公開項目彙整表</a></div><a class="logo" href="###"><img src="img/logo_aca.jpg" alt=""/></a>
            <div class="logo"><img src="img/logo_footer.svg" alt=""/></div>
          </div>
        </div>
        <div class="copyright">© 2022 中央研究院 地球科學研究所 All Rights Reserved.</div>
      </footer>
    </div>
  </body>
</html>
